@font-face{
	font-family: Courier-new;
	src:url('../fonts/Courier New.ttf');
}
@font-face{
	font-family: Lora-it;
	src:url('../fonts/Lora-Italic.ttf');
}
@font-face{
	font-family: Lora-b;
	src:url('../fonts/Lora-Bold.ttf');
}
@font-face{
	font-family: Lora;
	src:url('../fonts/Lora-Regular.ttf');
}
@font-face{
	font-family: Roboto-bla;
	src:url('../fonts/Roboto-Black.ttf');
}
@font-face{
	font-family: Roboto-thin;
	src:url('../fonts/Roboto-Thin.ttf');
}
@font-face{
	font-family: Roboto-it;
	src:url('../fonts/Roboto-Italic.ttf');
}
@font-face{
	font-family: Roboto;
	src:url('../fonts/Roboto-Regular.ttf');
}
h1{
	text-align: center;
	color: #a41610;
	font-family: Lora-it;
	padding: 70px 0px;
	font-size: 50px;
}
.gallery-section{
	padding: 68px 42px;
}
.gallery-content{
	vertical-align: top;
}
.gallery-content img{
	height: 250px;
	border-radius: 18px;
	transition:.5s ease;
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}
.gallery-content img:hover{
	border-radius: 7px;
	transition:.5s ease;
	-o-transition:.5s;
  	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}
.gallery-content figure{
	padding: 0px 30px 50px 30px;
}
.gallery-content figcaption{
	text-align: center;
	font-family: Lora;
	font-weight: bold;
	font-size: 20px;
	color: black;
	padding: 5px 5px;
	color: #5b0e0b;
}